<div class="row items-wrapper">
    <div class="col-md-6" *ngFor="let items of products_all">
      
        <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%"  src="{{items.imageUrl}}">

            <div class="card-body">
              <p class="price-text"> <strong>{{items.price | currency:'INR'}}</strong></p>
              <p>{{items.discription}}{{items.wishlistAdd}}
                <i class="fa fa-heart-o float-right" aria-hidden="true" *ngIf="!items.wishlistAdd"   (click)="addToWishList(items)"></i>
                <i class="fa fa-heart float-right"   aria-hidden="true" *ngIf="items.wishlistAdd"    (click)="removeToWishList(items)"></i>
                
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" (click)="addcart(items)" class="btn btn-sm btn-primary">Add Cart</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">View Item</button>
                </div>
                
              </div>
            </div>
          </div>
    </div>
</div>
