<div class="filter card-border">

<p class="alert alert-info"><strong>Price</strong></p>

<form [formGroup] ="formData">
    <div class="row">
        <div class="col-md-6">
            <label for="from">From</label><br>
<select formControlName="min_price" (change)="minPrice($event)">
    <option value="0">0</option>
    <option value="1000">1000</option>
    <option value="2000">2000</option>
    <option value="3000">3000</option>
</select>

        </div>
        <div class="col-md-6">
            <label for="to">To</label><br>

<select formControlName="max_price" (change)="maxPrice($event)">
    <option>2000</option>
    <option value="3000">3000</option>
    <option value="4000">4000</option>
    <option value="5000">5000</option>
</select>
            
        </div>
    </div>



</form>

</div>
